<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Decks:</h1>
    <table>
        <thead>
            <th> Title </th>
            <th> Author </th>
            <th> Cards </th>
        </thead>
        <tbody>
            <tr th:each="deck : ${decks}">
                <td><span th:text="${deck.title}"> Title </span></td>
                <td><span th:text="${deck.author}"> Author </span></td>
                <td><span th:text="${deck.cards}"> Cards </span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>