<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="username" name="username"
           id="username" required>
    <br>
    <label for="psw"><b>password</b></label>
    <input type="password" placeholder="password"
           name="psw" id="psw" required>
    <hr>
    <button type="submit" class="registerbtn">Login</button>
</form>
</body>
</html>